name: AXIOME Backend Deploy

on:
  push:
    branches: [ main, staging ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd AXIOME---SEE-YOUR-FUTURE./Server
            git pull origin main
            docker build -t axiome-backend .
            docker stop axiome || true
            docker rm axiome || true
            docker run -d -p 5000:5000 \
              --name axiome \
              axiome-backend
